@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 10pt;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  z-index: 10;
  width: 96vw;
  padding: 1em 2vw;
}

.login-panel-container {
  position: absolute;
  z-index: 10;
  width: 95vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 2.5vw;
  margin-top: 6em;
}

.left-panel-container
{
  position: absolute;
  z-index: 1;
  width: 95vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2em;
  margin-left: 20px;
}